@font-face { font-family: MsSansSerif; src: url('ms-sans-serif-1.ttf'); }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-size: 30px;
  font-family: MsSansSerif;
}
p {
  font-size: 20px;
  font-family: MsSansSerif;
}
body {
    background-image: url('https://www.afmoriarty.com/Art/Art/CLOVER2.JPG');
    background-attachment: fixed;
    background-repeat: repeat;
}
a {
  text-decoration: none;
  color: blue;
}

.box, .box-left, .box-right {
  font-size: 1.075em;
  border: 3px groove;
  background-color: #c5e1a5;
  margin: 5px 0;
}
.box-left { float: left; }
.box-right { float: right; }


.heading {
    background-color: #558b2f ;
    padding-left: 10px;
    padding-right: 2px;
    padding-bottom: 20px;
    padding-top: 2px;
    border: 3px groove black;
    color: white;
    font-size: 15px;
    text-align: left;
    line-height: 17.5px; 
    height: 35px; 
}

.container {
    align-items: flex-start; 
    display: flex;
    justify-content: space-between; /* Ensures spacing between boxes */
    gap: 10px; /* Optional: Adjust the space between the boxes */
}

.box-left, .box-right {
    width: 60%; /* Adjust width so they fit side by side */
}

.box-right img {
    width: 100%;   /* Makes the image scale to fit the box */
    height: auto;  /* Maintains the aspect ratio */
    display: block; /* Removes any extra spacing from inline images */
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures spacing between links and image */
}

.link-image {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-left: 10px;
}
