@font-face { font-family: MsSansSerif; src: url('ms-sans-serif-1.ttf'); }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-size: 30px;
  font-family: MsSansSerif;
}
p {
  font-size: 20px;
  font-family: MsSansSerif;
}
body {
  background-image: url('http://dl3.glitter-graphics.net/pub/1816/1816003ae89mys83f.gif');
  background-attachment: fixed;
  background-repeat: repeat;
}
a {
  text-decoration: none;
  color: blue;
}
.box {
    font-size: 1.075em;
    border: 3px groove #dc7633;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
.sidebox {
    font-size: 1.075em;
    border: 3px groove #dc7633;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
}
.heading {
    background-color: #707b7c;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-top: 2px;
    border: 3px groove #dc7633;
    color: black;
    font-size: 15px;
    text-align: left;
    line-height: 17.5px; 
    height: 35px; 
}
.sidebar-left {
  margin-left: 0;
  width: 200px ;
  position: absolute;
  top: 0;
  display: inline-block;
  text-align: center;
}
